{% extends 'posts/base.html' %}

{% block content %}
    <div class="title">
        <h2>Login</h2>
    </div>
    <div class="form-block">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-content">
                <div class="form-field-block">
                    <p>Username:</p>
                    <p><input type="text" name="username"></p>
                </div>
                <div class="form-field-block">
                    <p>Password: </p>
                    <p><input type="password" name="password"></p>
                </div>
                <div class="form-field-block">
                    <input type="submit" value="Log In">
                </div>
            </div>
        </form>
    </div>

{% endblock %}